{% extends "base.html" %}

{% block content %}

<!-- Header -->
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to About BeerWell!</h1>
    </div>
  </div>

  <h2>Overview</h2>
    <br>
    BeerWell is a tool to find the perfect match between person and beer.
    <br>
    <br>
    It seems very possible that the best beer data comes from people's
    accounts of their experience drinking beer, e.g. text from beer
    reviews. I will try to use this data to better understand the
    beer world and recommend people beer.
    <br>
    <br>
    Thanks to BeerAdvocate and all their users for the beer reviews
    used for this project!
    Thanks to Flask guy.
    <br>
    <br>
    If you can make use of anything I have done here, please do :)
    <br>
    Website Code: <a href="https://github.com/njritter/beerwell">https://github.com/njritter/beerwell</a>
    <br>
    Analysis Code: Coming soon ...
    <br>

{% endblock %}
