{% extends "base.html" %}

{% block content %}

<!-- Header -->
  <div class="jumbotron">
    <div class="container">
      <h3>Welcome back, {{ current_user.username }}!</h3>
      <!-- Find out more About this project -->
      <!-- Data science behind BeerWell ... blog -->
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Beer</th>
        <th scope="col">Rating</th>
      <tr>
    </thead>
    <tbody>
      {% for i,b in beers %}
      <tr>
        <th scope="row">{{ i }}</th>
        <td>{{ b }}</td>
        <td> </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}
